.line360To180,
.line90To270,
.line45To225,
.line305To135 {
  position: absolute;
  top:2.4%;
  left: 50.2%;
  width: 1px;
  height: 95%;
  background-color: rgba(0, 255, 0, 0.7);
  transform-origin: 50% 50%;
  
  /* Центрирование линий */
}

/* Линия от 360° до 180° (от 360 до 180) */
.line360To180 {
  transform: translateX(-50%) rotate(180deg);
  /* Поворот линии на 180 градусов */
}

/* Линия от 90° до 270° (от 90 до 270) */
.line90To270 {
  transform: translateX(-50%) rotate(90deg);
  /* Поворот линии на 90 градусов */
}

.line45To225 {
  transform: translateX(-50%) rotate(45deg);
}

.line305To135 {
  transform: translateX(-50%) rotate(135deg)
}