
/* Засечки на левой стороне */
.lineLeft {
    top: 0;
    left: 100px;
    height: 100%;
  }
  
  .tickLeft {
    position: absolute;
    height: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    left: -66px;
    /* Немного увеличена ширина */
    width: 16px;
    /* Увеличена ширина */
  }
  
  .tickLeftLarge {
    position: absolute;
    height: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    left: -66px;
    /* Немного увеличена ширина для больших черточек */
    width: 25px;
    /* Увеличена ширина */
  }
  
  
  
  .lineRight {
    top: 0;
    right: 0;
    width: 3px;
    /* Увеличена толщина */
    height: 100%;
  }
  
  .tickRight {
    position: absolute;
    height: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    right: 0;
    /* Немного увеличена ширина */
    width: 16px;
    /* Увеличена ширина */
  }
  
  .tickRightLarge {
    position: absolute;
    height: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    right: 0;
    /* Немного увеличена ширина для больших черточек */
    width: 25px;
    /* Увеличена ширина */
  }
  
  
  .top2 { top: -2%; }
  .top2_5 { top: -1.5%; }
  .top3 { top: -1%; }
  .top3_5 { top: -0.5%; }
  .top4 { top: 0%; }
  .top4_5 { top: 0.5%; }
  .top5 { top: 1%; }
  .top5_5 { top: 1.5%; }
  .top6 { top: 2%; }
  .top6_5 { top: 2.5%; }
  .top7 { top: 3%; }
  .top7_5 { top: 3.5%; }
  .top8 { top: 4%; }
  .top8_5 { top: 4.5%; }
  .top9 { top: 5%; }
  .top9_5 { top: 5.5%; }
  .top10 { top: 6%; }
  .top10_5 { top: 6.5%; }
  .top11 { top: 7%; }
  .top11_5 { top: 7.5%; }
  .top12 { top: 8%; }
  .top12_5 { top: 8.5%; }
  .top13 { top: 9%; }
  .top13_5 { top: 9.5%; }
  .top14 { top: 10%; }
  .top14_5 { top: 10.5%; }
  .top15 { top: 11%; }
  .top15_5 { top: 11.5%; }
  .top16 { top: 12%; }
  .top16_5 { top: 12.5%; }
  .top17 { top: 13%; }
  .top17_5 { top: 13.5%; }
  .top18 { top: 14%; }
  .top18_5 { top: 14.5%; }
  .top19 { top: 15%; }
  .top19_5 { top: 15.5%; }
  .top20 { top: 16%; }
  .top20_5 { top: 16.5%; }
  .top21 { top: 17%; }
  .top21_5 { top: 17.5%; }
  .top22 { top: 18%; }
  .top22_5 { top: 18.5%; }
  .top23 { top: 19%; }
  .top23_5 { top: 19.5%; }
  .top24 { top: 20%; }
  .top24_5 { top: 20.5%; }
  .top25 { top: 21%; }
  .top25_5 { top: 21.5%; }
  .top26 { top: 22%; }
  .top26_5 { top: 22.5%; }
  .top27 { top: 23%; }
  .top27_5 { top: 23.5%; }
  .top28 { top: 24%; }
  .top28_5 { top: 24.5%; }
  .top29 { top: 25%; }
  .top29_5 { top: 25.5%; }
  .top30 { top: 26%; }
  .top30_5 { top: 26.5%; }
  .top31 { top: 27%; }
  .top31_5 { top: 27.5%; }
  .top32 { top: 28%; }
  .top32_5 { top: 28.5%; }
  .top33 { top: 29%; }
  .top33_5 { top: 29.5%; }
  .top34 { top: 30%; }
  .top34_5 { top: 30.5%; }
  .top35 { top: 31%; }
  .top35_5 { top: 31.5%; }
  .top36 { top: 32%; }
  .top36_5 { top: 32.5%; }
  .top37 { top: 33%; }
  .top37_5 { top: 33.5%; }
  .top38 { top: 34%; }
  .top38_5 { top: 34.5%; }
  .top39 { top: 35%; }
  .top39_5 { top: 35.5%; }
  .top40 { top: 36%; }
  .top40_5 { top: 36.5%; }
  .top41 { top: 37%; }
  .top41_5 { top: 37.5%; }
  .top42 { top: 38%; }
  .top42_5 { top: 38.5%; }
  .top43 { top: 39%; }
  .top43_5 { top: 39.5%; }
  .top44 { top: 40%; }
  .top44_5 { top: 40.5%; }
  .top45 { top: 41%; }
  .top45_5 { top: 41.5%; }
  .top46 { top: 42%; }
  .top46_5 { top: 42.5%; }
  .top47 { top: 43%; }
  .top47_5 { top: 43.5%; }
  .top48 { top: 44%; }
  .top48_5 { top: 44.5%; }
  .top49 { top: 45%; }
  .top49_5 { top: 45.5%; }
  .top50 { top: 46%; }
  .top50_5 { top: 46.5%; }
  .top51 { top: 47%; }
  .top51_5 { top: 47.5%; }
  .top52 { top: 48%; }
  .top52_5 { top: 48.5%; }
  .top53 { top: 49%; }
  .top53_5 { top: 49.5%; }
  .top54 { top: 50%; }
  .top54_5 { top: 50.5%; }
  .top55 { top: 51%; }
  .top55_5 { top: 51.5%; }
  .top56 { top: 52%; }
  .top56_5 { top: 52.5%; }
  .top57 { top: 53%; }
  .top57_5 { top: 53.5%; }
  .top58 { top: 54%; }
  .top58_5 { top: 54.5%; }
  .top59 { top: 55%; }
  .top59_5 { top: 55.5%; }
  .top60 { top: 56%; }
  .top60_5 { top: 56.5%; }
  .top61 { top: 57%; }
  .top61_5 { top: 57.5%; }
  .top62 { top: 58%; }
  .top62_5 { top: 58.5%; }
  .top63 { top: 59%; }
  .top63_5 { top: 59.5%; }
  .top64 { top: 60%; }
  .top64_5 { top: 60.5%; }
  .top65 { top: 61%; }
  .top65_5 { top: 61.5%; }
  .top66 { top: 62%; }
  .top66_5 { top: 62.5%; }
  .top67 { top: 63%; }
  .top67_5 { top: 63.5%; }
  .top68 { top: 64%; }
  .top68_5 { top: 64.5%; }
  .top69 { top: 65%; }
  .top69_5 { top: 65.5%; }
  .top70 { top: 66%; }
  .top70_5 { top: 66.5%; }
  .top71 { top: 67%; }
  .top71_5 { top: 67.5%; }
  .top72 { top: 68%; }
  .top72_5 { top: 68.5%; }
  .top73 { top: 69%; }
  .top73_5 { top: 69.5%; }
  .top74 { top: 70%; }
  .top74_5 { top: 70.5%; }
  .top75 { top: 71%; }
  .top75_5 { top: 71.5%; }
  .top76 { top: 72%; }
  .top76_5 { top: 72.5%; }
  .top77 { top: 73%; }
  .top77_5 { top: 73.5%; }
  .top78 { top: 74%; }
  .top78_5 { top: 74.5%; }
  .top79 { top: 75%; }
  .top79_5 { top: 75.5%; }
  .top80 { top: 76%; }
  .top80_5 { top: 76.5%; }
  .top81 { top: 77%; }
  .top81_5 { top: 77.5%; }
  .top82 { top: 78%; }
  .top82_5 { top: 78.5%; }
  .top83 { top: 79%; }
  .top83_5 { top: 79.5%; }
  .top84 { top: 80%; }
  .top84_5 { top: 80.5%; }
  .top85 { top: 81%; }
  .top85_5 { top: 81.5%; }
  .top86 { top: 82%; }
  .top86_5 { top: 82.5%; }
  .top87 { top: 83%; }
  .top87_5 { top: 83.5%; }
  .top88 { top: 84%; }
  .top88_5 { top: 84.5%; }
  .top89 { top: 85%; }
  .top89_5 { top: 85.5%; }
  .top90 { top: 86%; }
  .top90_5 { top: 86.5%; }
  .top91 { top: 87%; }
  .top91_5 { top: 87.5%; }
  .top92 { top: 88%; }
  .top92_5 { top: 88.5%; }
  .top93 { top: 89%; }
  .top93_5 { top: 89.5%; }
  .top94 { top: 90%; }
  .top94_5 { top: 90.5%; }
  .top95 { top: 91%; }
  .top95_5 { top: 91.5%; }
  .top96 { top: 92%; }
  .top96_5 { top: 92.5%; }
  .top97 { top: 93%; }
  .top97_5 { top: 93.5%; }
  .top98 { top: 94%; }
  
  
  
  
  
  