.lineTop {
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* Увеличена толщина */
  }
  
  .tickTop {
    position: absolute;
    width: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    top: -16px;
    /* Немного увеличена высота */
    height: 16px;
    /* Увеличена высота */
  }
  
  .tickTopLarge {
    position: absolute;
    width: 2px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    top: -50px;
    /* Немного увеличена высота для больших черточек */
    height: 25px;
    /* Увеличена высота */
  }
  
  /* Позиционирование для каждой засечки с использованием класса */
  .tickTop {
    position: absolute; /* Example positioning */
    top: -50px; /* Example top positioning */
  }

  .lineBottom {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    /* Увеличена толщина */
  }
  
  .tickBottom {
    position: absolute;
    width: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    bottom: 5px;
    /* Немного увеличена высота */
    height: 16px;
    /* Увеличена высота */
    
    
  }
  
  .tickBottomLarge {
    position: absolute;
    width: 1px;
    /* Увеличена толщина */
    background-color: rgb(255, 255, 255);
    bottom: 5px;
    /* Немного увеличена высота для больших черточек */
    height: 25px;
    /* Увеличена высота */
  }
  
  .left0 { left: -5%; }
  .left0_5 { left: -4.5%; }
  .left1 { left: -4%; }
  .left1_5 { left: -3.5%; }
  .left2 { left: -3%; }
  .left2_5 { left: -2.5%; }
  .left3 { left: -2%; }
  .left3_5 { left: -1.5%; }
  .left4 { left: -1%; }
  .left4_5 { left: -0.5%; }
  .left5 { left: 0%; }
  .left5_5 { left: 0.5%; }
  .left6 { left: 1%; }
  .left6_5 { left: 1.5%; }
  .left7 { left: 2%; }
  .left7_5 { left: 2.5%; }
  .left8 { left: 3%; }
  .left8_5 { left: 3.5%; }
  .left9 { left: 4%; }
  .left9_5 { left: 4.5%; }
  .left10 { left: 5%; }
  .left10_5 { left: 5.5%; }
  .left11 { left: 6%; }
  .left11_5 { left: 6.5%; }
  .left12 { left: 7%; }
  .left12_5 { left: 7.5%; }
  .left13 { left: 8%; }
  .left13_5 { left: 8.5%; }
  .left14 { left: 9%; }
  .left14_5 { left: 9.5%; }
  .left15 { left: 10%; }
  .left15_5 { left: 10.5%; }
  .left16 { left: 11%; }
  .left16_5 { left: 11.5%; }
  .left17 { left: 12%; }
  .left17_5 { left: 12.5%; }
  .left18 { left: 13%; }
  .left18_5 { left: 13.5%; }
  .left19 { left: 14%; }
  .left19_5 { left: 14.5%; }
  .left20 { left: 15%; }
  .left20_5 { left: 15.5%; }
  .left21 { left: 16%; }
  .left21_5 { left: 16.5%; }
  .left22 { left: 17%; }
  .left22_5 { left: 17.5%; }
  .left23 { left: 18%; }
  .left23_5 { left: 18.5%; }
  .left24 { left: 19%; }
  .left24_5 { left: 19.5%; }
  .left25 { left: 20%; }
  .left25_5 { left: 20.5%; }
  .left26 { left: 21%; }
  .left26_5 { left: 21.5%; }
  .left27 { left: 22%; }
  .left27_5 { left: 22.5%; }
  .left28 { left: 23%; }
  .left28_5 { left: 23.5%; }
  .left29 { left: 24%; }
  .left29_5 { left: 24.5%; }
  .left30 { left: 25%; }
  .left30_5 { left: 25.5%; }
  .left31 { left: 26%; }
  .left31_5 { left: 26.5%; }
  .left32 { left: 27%; }
  .left32_5 { left: 27.5%; }
  .left33 { left: 28%; }
  .left33_5 { left: 28.5%; }
  .left34 { left: 29%; }
  .left34_5 { left: 29.5%; }
  .left35 { left: 30%; }
  .left35_5 { left: 30.5%; }
  .left36 { left: 31%; }
  .left36_5 { left: 31.5%; }
  .left37 { left: 32%; }
  .left37_5 { left: 32.5%; }
  .left38 { left: 33%; }
  .left38_5 { left: 33.5%; }
  .left39 { left: 34%; }
  .left39_5 { left: 34.5%; }
  .left40 { left: 35%; }
  .left40_5 { left: 35.5%; }
  .left41 { left: 36%; }
  .left41_5 { left: 36.5%; }
  .left42 { left: 37%; }
  .left42_5 { left: 37.5%; }
  .left43 { left: 38%; }
  .left43_5 { left: 38.5%; }
  .left44 { left: 39%; }
  .left44_5 { left: 39.5%; }
  .left45 { left: 40%; }
  .left45_5 { left: 40.5%; }
  .left46 { left: 41%; }
  .left46_5 { left: 41.5%; }
  .left47 { left: 42%; }
  .left47_5 { left: 42.5%; }
  .left48 { left: 43%; }
  .left48_5 { left: 43.5%; }
  .left49 { left: 44%; }
  .left49_5 { left: 44.5%; }
  .left50 { left: 45%; }
  .left50_5 { left: 45.5%; }
  .left51 { left: 46%; }
  .left51_5 { left: 46.5%; }
  .left52 { left: 47%; }
  .left52_5 { left: 47.5%; }
  .left53 { left: 48%; }
  .left53_5 { left: 48.5%; }
  .left54 { left: 49%; }
  .left54_5 { left: 49.5%; }
  .left55 { left: 50%; }
  .left55_5 { left: 50.5%; }
  .left56 { left: 51%; }
  .left56_5 { left: 51.5%; }
  .left57 { left: 52%; }
  .left57_5 { left: 52.5%; }
  .left58 { left: 53%; }
  .left58_5 { left: 53.5%; }
  .left59 { left: 54%; }
  .left59_5 { left: 54.5%; }
  .left60 { left: 55%; }
  .left60_5 { left: 55.5%; }
  .left61 { left: 56%; }
  .left61_5 { left: 56.5%; }
  .left62 { left: 57%; }
  .left62_5 { left: 57.5%; }
  .left63 { left: 58%; }
  .left63_5 { left: 58.5%; }
  .left64 { left: 59%; }
  .left64_5 { left: 59.5%; }
  .left65 { left: 60%; }
  .left65_5 { left: 60.5%; }
  .left66 { left: 61%; }
  .left66_5 { left: 61.5%; }
  .left67 { left: 62%; }
  .left67_5 { left: 62.5%; }
  .left68 { left: 63%; }
  .left68_5 { left: 63.5%; }
  .left69 { left: 64%; }
  .left69_5 { left: 64.5%; }
  .left70 { left: 65%; }
  .left70_5 { left: 65.5%; }
  .left71 { left: 66%; }
  .left71_5 { left: 66.5%; }
  .left72 { left: 67%; }
  .left72_5 { left: 67.5%; }
  .left73 { left: 68%; }
  .left73_5 { left: 68.5%; }
  .left74 { left: 69%; }
  .left74_5 { left: 69.5%; }
  .left75 { left: 70%; }
  .left75_5 { left: 70.5%; }
  .left76 { left: 71%; }
  .left76_5 { left: 71.5%; }
  .left77 { left: 72%; }
  .left77_5 { left: 72.5%; }
  .left78 { left: 73%; }
  .left78_5 { left: 73.5%; }
  .left79 { left: 74%; }
  .left79_5 { left: 74.5%; }
  .left80 { left: 75%; }
  .left80_5 { left: 75.5%; }
  .left81 { left: 76%; }
  .left81_5 { left: 76.5%; }
  .left82 { left: 77%; }
  .left82_5 { left: 77.5%; }
  .left83 { left: 78%; }
  .left83_5 { left: 78.5%; }
  .left84 { left: 79%; }
  .left84_5 { left: 79.5%; }
  .left85 { left: 80%; }
  .left85_5 { left: 80.5%; }
  .left86 { left: 81%; }
  .left86_5 { left: 81.5%; }
  .left87 { left: 82%; }
  .left87_5 { left: 82.5%; }
  .left88 { left: 83%; }
  .left88_5 { left: 83.5%; }
  .left89 { left: 84%; }
  .left89_5 { left: 84.5%; }
  .left90 { left: 85%; }
  .left90_5 { left: 85.5%; }
  .left91 { left: 86%; }
  .left91_5 { left: 86.5%; }
  .left92 { left: 87%; }
  .left92_5 { left: 87.5%; }
  .left93 { left: 88%; }
  .left93_5 { left: 88.5%; }
  .left94 { left: 89%; }
  .left94_5 { left: 89.5%; }
  .left95 { left: 90%; }
  .left95_5 { left: 90.5%; }
  .left96 { left: 91%; }
  .left96_5 { left: 91.5%; }
  .left97 { left: 92%; }
  .left97_5 { left: 92.5%; }
  .left98 { left: 93%; }
  .left98_5 { left: 93.5%; }
  .left99 { left: 94%; }
  .left99_5 { left: 94.5%; }
  .left100 { left: 95%; }
  .left100_5 { left: 95.5%; }
  .left101 { left: 96%; }
  .left101_5 { left: 96.5%; }
  .left102 { left: 97%; }
  .left102_5 { left: 97.5%; }
  .left103 { left: 98%; }
  .left103_5 { left: 98.5%; }
  .left104 { left: 98%; }
  .left104_5 { left: 98.5%; }
  .left105 { left: 99%; }
  .left105_5 { left: 99.5%; }
  .left106 { left: 100%; }
  .left106_5 { left: 100.5%; }
  .left107 { left: 101%; }
  .left107_5 { left: 101.5%; }
  .left108 { left: 102%; }
  .left108_5 { left: 102.5%; }
  .left109 { left: 103%; }
  .left109_5 { left: 103.5%; }
  .left110 { left: 104%; }
  .left110_5 { left: 104.5%; }  
  .left111 { left: 105%; }
  .left111_5 { left: 105.5%; }
  .left112 { left: 106%; }
  .left112_5 { left: 106.5%; }
  .left113 { left: 107%; }
  .left113_5 { left: 107.5%; }  
  .left114 { left: 108%; }
  .left114_5 { left: 108.5%; }
  .left115 { left: 109%; }
  .left115_5 { left: 109.5%; }
  .left116 { left: 110%; }
  .left116_5 { left: 110.5%; }  
  .left117 { left: 111%; }
  .left117_5 { left: 111.5%; }
  .left118 { left: 112%; }
  .left118_5 { left: 112.5%; }
  .left119 { left: 113%; }
  .left119_5 { left: 113.5%; }  
  .left120 { left: 114%; }
  .left120_5 { left: 114.5%; }
  .left121 { left: 115%; }
  .left121_5 { left: 115.5%; }
  .left122 { left: 116%; }
  .left122_5 { left: 116.5%; }  
  .left123 { left: 117%; }
  .left123_5 { left: 117.5%; }
  .left124 { left: 118%; }
  
  
  
  
